@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #7EBDC2, #E4C1F9);
}
p {
    text-align: justify;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #28587b83;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #FCB97D;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.753);
}
h2 {
    color: #28587B;
}
